@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

h1 {
    font-family: 'Patua One', serif;
    font-size: 48px;
    color: #444444;
}

h3 {
    font-family: 'Pavanam', serif;
    font-size: 36px;
    color: #595959;

}

body {
    font-family: 'Pavanam', serif;
    font-size: 20px;

}

.nav {
    display: flex;
    justify-content: left;
    flex-flow: row nowrap;
	align-items: center;
    
}


.nav li {
    display: flex;
    padding: 0 10px;
	border:none;
	font-weight: 600;
    outline: none;
    color: #444444;	
}

.nav-link{

    background-color: #F2F2F2;
    box-shadow: 3px 3px 0 #E6E6E6;
}

.nav-item {

}


a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #595959
}


body {
    padding-right: 50px;
    padding-left: 50px;
    min-width:600px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: flex-end;

}

.flex-img {
    flex: 1 1 40em;
}

.flex-text {
    flex: 2 2 20em;
}

img {
    display: inline-block;
    width: 100%;
    height: auto;
}


.btn-group {
    display: flex;
    flex-flow: column wrap;
    padding-top: 50px;
    align-items: flex-end;
    color: dimgray;
    cursor: pointer;
}

.btn-group a {
    text-decoration: none;

}

.button {
    position: relative;
    display: inline-flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #444444;
    background-color: #fbb579;
	border-width:0px;
    border-radius: 15px;
    box-shadow: 3px 3px 0 #f29749;
	margin: 10px;
}
.button:hover {
	background-color:#90EE90;
    border-style:solid;
    border-width:5px;
	 border-color:gray;
}

pilt {
	margin-top:20px;
	position: relative;
	text-align: center;
	color: white;
	padding:10px;
}
.top-right {
	position: absolute;
	top: 20px;
	right: 16px;
}
.bottom-right {
	position: absolute;
	bottom: 0px;
	right: 16px;
}
.bottom-left {
	position: absolute;
	bottom: 20px;
	left: 16px;
}
/* pakkumised */



.offers-subject {
    margin-bottom: 45px;
    margin-top: 45px;
}
.offers h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 60px;
    
}

.offers h2 {
    font-family: 'Patua One', serif;
    font-size: 40px;
    color: black;
    position: relative;
}


.offers ul {
    font-family: 'Patua One', serif;
    font-size: 26px;
    color: #696664;
    list-style-type: none;
    margin: 0;
    padding-left:.1em;
    margin-bottom: 15px;
}
.offers li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 5em;
    text-align: left;
    margin: 0;
    padding-left: 2.9em;
    position: relative;
    line-height: 50px;
}


.offers-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.offers-bronze, .offers-silver, .offers-gold {
    border-radius: 3px;
    background-color: #fce1c9;
    box-shadow: 3px 3px 0  #d1beaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-silver {
    margin: 0 .7em 0 .7em;
}

.offers-bronze-subject, .offers-silver-subject, .offers-gold-subject {
    display: flex;
    justify-content: center;
}

.offers-bronze-button, .offers-silver-button, .offers-gold-button{
    display: flex;
    justify-content: center;
    
     
}
.offers-gold-button{
    background-color: #ccb7a2;
}
.offers .button {

    font-size: 30px;
    text-decoration: none;
    outline: none;
    color: #444444;
    background-color: #81fb69;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0  #7cdd65;
    height: 50px;
    width: 270px;
    margin: .3em .5em .5em .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pavanam', serif;
    color: #595959;
}

.offers-bronze-button .button, .offers-silver-button .button {
    background-color: #fbb57a;
    box-shadow: 3px 3px 0  #f3a66a;
}

.line {
    border: .9px solid;
    border-radius: 20px;
    color: #aaa29b;
    width: 260px;
    margin-top: -10px;
    margin-bottom: 15px;
    position: relative;
}

.offers-bronze h2:before {
    content: '';
    left: 134px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./corner_bronze.png');
    background-size: contain;
    margin-right: .5em;
    margin-top: -.8em;
   
}
.offers-silver h2:before {
    content: '';
    left: 116px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./corner_silver.png');
    background-size: contain;
    margin-right: .5em;
    margin-top: -.8em;
   
}
.offers-gold h2:before {
    content: '';
    left: 111px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./corner_gold.png');
    background-size: contain;
    margin-right: .5em;
    margin-top: -.8em;
   
}

.offers-bronze button:before {
    content: '';
    left: 1px;
    position: absolute;
    width: 55px;
    height: 420px;
    background-image: url('./ticks_bronze.png');
    background-repeat: no-repeat;
    background-size: 39px;
    margin-left: .6em;
    margin-top: -8.7em; 
}
.offers-silver button:before {
    content: '';
    left: 1px;
    position: absolute;
    width: 55px;
    height: 420px;
    background-image: url('./ticks_silver.png');
    background-repeat: no-repeat;
    background-size: 39px;
    margin-left: .6em;
    margin-top: -8.7em; 
}
.offers-gold button:before {
    content: '';
    left: 1px;
    position: absolute;
    width: 55px;
    height: 420px;
    background-image: url('./ticks_gold.png');
    background-repeat: no-repeat;
    background-size: 39px;
    margin-left: .6em;
    margin-top: -8.7em; 
}
.offers-bottom {
    display: flex;
    justify-content: center;
    margin-left: -45.2em;
    font-size: 14px;
    color: #c6c6c6;
    font-family: 'Patua One', serif;
    margin-top: 5px;
}
.offers .button:hover {
	background-color:#90EE90;

}

@media (max-width: 900px){
    
.offers-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
.offers-bronze, .offers-silver, .offers-gold {
    height: 511.38px;
    width: 300px;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
}
.offers-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -.4em;
}
.offers h1 {
    font-size: 40px;
    margin-top: 2em; 
}
.offers-main {
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%)
}  
}
